APP_NAME=taller1
DOMAIN=taller1.netgogo.cl
APP_PORT=8000
DB_HOST=postgres_talleres
DB_PORT=5432
DB_NAME=taller1_db
DB_USER=taller1
DB_PASSWORD=CAMBIAR_POR_UNA_CLAVE_LARGA
POSTGRES_NETWORK=myproject_netgogo_default
